.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Arial, sans-serif;
  width: 360px;
  margin-left: 40px;
  text-align: left;
}

.form > label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 8px;
}

.form input[type="number"] {
  padding: 14px;
  font-size: 18px;
  border: 2px solid #aaa;
  border-radius: 6px;
}

fieldset {
  border: 2px solid #888;
  padding: 20px 24px;
  border-radius: 6px;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

legend {
  padding: 0 10px;
  font-size: 20px;
}

fieldset label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-right: 30px;
}

fieldset label + label {
  margin-top: 0;
}

input[type="radio"] {
  width: 22px;
  height: 22px;
}


button {
  padding: 14px 0;
  font-size: 20px;
  border-radius: 6px;
  border: 2px solid #aaa;
  background: #eee;
  cursor: pointer;
}

/* НОТИФІКАЦІЇ */

/* Контейнер для нотифікацій */
.notify-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

/* Базовий стиль */
.notify {
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 16px 20px;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  margin-bottom: 4px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  opacity: 0;
  transform: translateX(40px);   /* початкове зміщення */
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Коли нотифікація з’явилась */
.notify.show {
  opacity: 1;
  transform: translateX(0);
}

/* Типи */
.notify.success {
  background-color: #74c69d;
}

.notify.error {
  background-color: #e76f51;
}

/* Іконки */
.notify::before {
  font-size: 26px;
  line-height: 1;
}

.notify.success::before {
  content: "✅";
}

.notify.error::before {
  content: "❌";
}